[Unit]
Description=Remnawave config sync timer
Requires=remnawave-sync.service

[Timer]
OnBootSec=15s
OnUnitActiveSec=10min
Unit=remnawave-sync.service

[Install]
WantedBy=timers.target
