[Unit]
Description=Remnawave heartbeat timer
Requires=remnawave-heartbeat.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
Unit=remnawave-heartbeat.service

[Install]
WantedBy=timers.target
