[Unit]
Description=sing-box proxy service
After=network-online.target
Wants=network-online.target
Documentation=https://sing-box.sagernet.org

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/remnaproxy/config.env
Environment=XRAY_BIN=/usr/local/bin/sing-box
Environment=XRAY_CONFIG=/etc/sing-box/config.json
ExecStartPre=$XRAY_BIN check -c $XRAY_CONFIG
ExecStart=$XRAY_BIN run -c $XRAY_CONFIG
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
